In [1]:
import pandas as pd

In [2]:
s = pd.Series([3, -5, 7, 4],  index=['a',  'b',  'c',  'd'])

data = {
    'Country': ['Belgium',  'India',  'Brazil'],
    'Capital': ['Brussels',  'New Delhi',  'Brasilia'],
    'Population': [11190846, 1303171035, 207847528]
}

df = pd.DataFrame(data,columns=['Country',  'Capital',  'Population'])

df.head()

   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528

In [ ]:
CSV_PATH = '/target/path/for/file.csv'

df = pd.read_csv(CSV_PATH, low_memory=False) # 'low_memory=False' used if large CSV in use